
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 100%;
    background-color: slategray;
    border: 2px solid red;
    height: 236px;
    padding: 20px;
    overflow-x: hidden;
}


.box{
    border: 2px solid green;
    background-color: aqua;
    height: 212px;
    width: 212px;
    border-radius: 50%;
    /* margin-bottom: 20px; */

    animation-name: ram;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-direction: alternate;
}

@keyframes ram {

    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(81vw);
    } 
}