
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* p{
    position: static;
} */


.wrapper{
    height: 1200px;
    width: 100vw;
    background-color: yellow;
    position: relative;
}

.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
}


#box3{
    position: absolute;
    left: 300px;
    top: 0px;
}

#box1{
    position: fixed;
    top: 0px;
    left: 0px;
}

#box4{
    position: sticky;
    bottom: 0px;
    left: 0px;
}




