

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

div{
    margin: auto;
}

h1{
   text-shadow: 3px 3px 3px red, 20px 20px 20px green;
}

.box{
    margin-top: 150px;
    width: 200px;
    height: 200px;
    background-color: aqua;
    box-shadow: 10px 10px 10px 20px red, 20px 20px 20px 30px green;
}